@font-face {
    font-family: Persona;
    src: url(fonts/persona.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: persona;
    line-height: 1.6;
    color: #e0e0e0;
    background-color: #121212;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
    min-height: calc(100vh - 160px);
}

section {
    margin-bottom: 1.5rem;
    padding: 2rem;
    background-color: #1e1e1e;
    border-radius: 10px;
    border: 1px solid #333;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

h1 {
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 2rem;
}


h2 {
    color: #70b5f9;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

footer {
    background-color: #121212;
    color: #888;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
    font-size: 0.9rem;
    border-top: 1px solid #333;
}

.social-links a {
   text-justify: left;
}

main p {
    margin-bottom: 1rem;
}

button.bouton.style {
    background-color: #33373b;
    text-decoration: none;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}
button.bouton.style a {
    color: #70b5f9;
    text-decoration: none;
    font-weight: 600;
   
}

button.bouton.style:hover {
    transition: 0.3s ease;
    scale: 1.05;
}

.project-section h1 {
    text-decoration: double;
    text-decoration: underline;
    text-decoration-color: #70b5f9;
    text-shadow: 0 0 8px rgba(112, 181, 249, 0.6);
}

.hardware-list ul {
    margin-bottom: 1rem;
}

h3 {
color: #b0bec5;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}
.hardware-list ul, .software-list ul {
    padding-left: 1.2rem;
    margin-bottom: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
    color: #d1d1d1;
}

.warning-box {
    background-color: rgba(255, 193, 7, 0.1);
    border-left: 4px solid #ffc107;
    padding: 1.5rem;
    margin: 2rem 0;
    border-radius: 0 5px 5px 0;
    color: #ffe082;
}

figure {
    margin: 2.5rem 0;
    text-align: center;
}

figure img {
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid #333; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

figcaption {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: #888;
    font-style: italic;
}

.accueil h1 {
    text-decoration: double;
    text-decoration: underline;
    text-decoration-color: #70b5f9;
    text-shadow: 0 0 8px rgba(112, 181, 249, 0.6);
}

.contact-links a {
    color: #70b5f9;
    text-decoration: none;

}